/* You can add global styles to this file, and also import other style files */
.calc {
    border: double white 5px;
    width: 50%;
    height: 500px;
    padding: 2em;
    align-content: center;
    margin: auto;
    text-align: center;
    background-color: rgba(56, 56, 56, 0.418);
}

.form-outline {
    text-align: left;
}

button {
    width: 2em;
    height: 2em;
    margin: 4px;
    color: white;
    border: none;
    background-color: rgba(39, 39, 39, 0.63);
    margin: 5;
    font-size: 30px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.form-control {
    background: rgb(241, 241, 241);
    border: none;
    border-radius: 0%;
    font-size: 20px;
    font-weight: bold;
}

hr {
    background-color: rgb(255, 255, 255);
}


body {
    background-image: url('assets/images/a.jpg');
    background-size: cover;
    color: white;
}

.operations {
    align-items: center;
}

#answer {
    border: none;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    width: 98%;
}

h1 {
    color: white;
    font-size: 70px;
}

.form-label {
    font-size: 25px;
}